/*************FONTS, SIZES, COLOURS*****************/
:root {
    /* Fonts */
    --noto-serif: "Noto Serif", serif;
    --poppins: "Poppins", sans-serif;
  
    /* Font-Sizes */
    --h1: clamp(3.2rem, 2vw + 1rem, 3.6rem);
    --h2: clamp(2.6rem, 2vw + 1rem, 3rem);
    --h3: clamp(2.2rem, 2vw + 1rem, 2.6rem);
    --h4: clamp(1.8rem, 2vw + 1rem, 2.2rem);
    --p: clamp(1.6rem, 2vw + 1rem, 1.7rem);

    /* words for emphasis */
    --span: #cf727f;
  
    /* Colours */
    --text: #262626;
    --background: #e5e5f0;
    --primary: #cf727f;
    --secondary: #7bc2e0;
    --grey: #dbdbe6;
    /* --off-primary: #dfe3f0;
    --accent: #aca9ef;
    --accent: #e1d6e6;  */
  
  }
  
  /************REPEATED STYLES****************/
  /* Selectors */
  * {
    /* Box Model Hack */
    box-sizing: border-box; 
    /**/
    margin: 0;
    transition: 0.3s;
  }
  
  html {
    scroll-behavior: smooth;
  }
  
  /* body {
    font-size: 1.6rem;
    background: var(--white-bg-bg);
    color: var(--dark-bg-text);
    margin: 0 3.5rem;
    overflow-x: hidden;
  }
  
  section {
    margin-top: 10rem;
    margin-bottom: 20rem;
  } */
  
  a {
    color: var(--text);
    text-decoration: none;
  }
  
  h1 {
    font-size: var(--h1);
  }
  
  h2 {
    font-size: var(--h2);
  }
  
  h3 {
    font-size: var(--h3);
  }
  
  h4 {
    font-size: var(--h4);
  }
  
  p {
    font-size: var(--p);
    line-height: 2.5rem;
  }



/***^PRELOADER***/
/* Preloader, before page is loaded */
.preloader{
    /*
    Making the preloader floating over other elements.
    The preloader is visible by default. 
    */
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1000;
}

body{
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	font-family: var(--poppins);
  font-weight: 200;
	background: var(--background);
}
div.main{
	width: 350px;
	height: 500px;
	background: #fff;
	overflow: hidden;
	border-radius: 10px;
	box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
#chk{
	display: none;
}
.imgWrapper {
     width: 100%;
     display: flex;
     align-items: center;
     justify-content: center;
}
img {
     width: 100px;
     height: 100px;
     margin: 20px 0;
}
.signup{
	position: relative;
	width: 100%;
	height: 95%;
}
label{
	color: var(--black);
	font-size: 2em;
	justify-content: center;
	display: flex;
	margin: 0 0 40px 0;
	font-weight: 500;
	cursor: pointer;
	transition: .5s ease-in-out;
}
input{
	width: 60%;
	height: 10px;
	background: #f5f4f4;
	justify-content: center;
	display: flex;
	margin: 20px auto;
	padding: 12px;
	border: none;
	outline: none;
	border-radius: 5px;
}
::placeholder {
  color: #bbb;
}
button{
	width: 60%;
	height: 40px;
	margin: 10px auto;
	justify-content: center;
	display: block;
	color: #fff;
	background: var(--primary);
	font-size: 1em;
	font-weight: 500;
	margin-top: 30px;
	outline: none;
	border: none;
	border-radius: 5px;
	transition: .2s ease-in;
	cursor: pointer;
}
/* button:hover{
	background: #6d44b8;
} */
.login{
  padding: 20px;
	height: 460px;
	background: #f5f4f4;
	border-radius: 60% / 10%;
	transform: translateY(-180px);
	transition: .8s ease-in-out;
}
.login label{
	color: var(--secondary);
	transform: scale(.6);
}
.login input {
  background-color: #fff;
}

#chk:checked ~ .login{
	transform: translateY(-500px);
}
#chk:checked ~ .login label{
	transform: scale(1);	
}
#chk:checked ~ .signup label{
	transform: scale(.6);
}