/*************FONTS, SIZES, COLOURS*****************/
:root {
  /* Fonts */
  --noto-serif: "Noto Serif", serif;
  --poppins: "Poppins", sans-serif;

  /* Font-Sizes */
  --h1: 3.125rem;
  --h2: 2.5rem;
  --h3: 1.875rem;
  --h4: 1.5625rem;
  --p: 1rem;

  /* words for emphasis */
  --span: #cf727f;

  /* Colours */
  --text: #262626;
  --background: #e5e5f0;
  --primary: #cf727f;
  --secondary: #7bc2e0;
}

/************REPEATED STYLES****************/
/* Selectors */
* {
  /* Box Model Hack */
  box-sizing: border-box;
  /**/
  margin: 0;
  transition: 0.3s;
}

body {
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

a {
  color: var(--text);
  text-decoration: none;
}

h1 {
  font-size: var(--h1);
  font-family: var(--noto-serif);
}

h2 {
  font-size: var(--h2);
  font-family: var(--noto-serif);
}

h3 {
  font-size: var(--h3);
}

h4 {
  font-size: var(--h4);
}

p {
  font: var(--p) var(--noto-serif);
  line-height: 2.5rem;
}

span {
  color: var(--span);
}


/************ STYLES PER SECTION ****************/

/***^PRELOADER***/
/* Preloader, before page is loaded */
.preloader {
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  background: #fff;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.preloader div {
  width: 50%;
  height: 50%;
}

.preloader img {
  width: 100%;
  height: auto;
}

.disappear {
  animation: vanish 1s forwards;
}

@keyframes vanish {
  100% {
    opacity: 0;
    visibility: hidden;
  }
}


/***^HEADER***/
nav ul {
  display: flex;
  list-style-type: none;
}

form {
  text-align: center;
  margin-left: -3rem;
}

/***^PLACEHOLDER***/

.placeholder {
  display: flex;
  justify-content: center;
}

.placeholder a {
  margin-top: -1.2rem;
  margin-left: -11rem;
}

/***^MYMAPS***/

/* iframe {
  height: 80vh;
  width: 90vw;
  display: flex;
  margin: 0 auto;
} */

#map {
  width: 80%;
  height: 500px;
  border: 2px solid #ccc;
  margin-top: 20px;
}