/*************FONTS, SIZES, COLOURS*****************/
:root {
  /* Fonts */
  --noto-serif: "Noto Serif", serif;
  --poppins: "Poppins", sans-serif;

  /* Font-Sizes */
  --h1: 3.125rem;
  --h2: 2.5rem;
  --h3: 1.875rem;
  --h4: 1.5625rem;
  --p: 1rem;

  /* words for emphasis */
  --span: #cf727f;

  /* Colours */
  --text: #262626;
  --background: #e5e5f0;
  --primary: #cf727f;
  --secondary: #7bc2e0;
  --soft-red: #cf727ecb;
}

/************REPEATED STYLES****************/
/* Selectors */
* {
  /* Box Model Hack */
  box-sizing: border-box;
  /**/
  margin: 0;
  transition: 0.3s;
}

body {
  margin: 0;
  font-family: var(--poppins);
}

html {
  scroll-behavior: smooth;
}

a {
  color: var(--text);
  text-decoration: none;
}

h1 {
  font-size: var(--h1);
  font-family: var(--noto-serif);
}

h2 {
  font-size: var(--h2);
  font-family: var(--noto-serif);
}

h3 {
  font-size: var(--h3);
}

h4 {
  font-size: var(--h4);
}

p,
input {
  font: var(--p);
}

span {
  color: var(--span);
}


/************ STYLES PER SECTION ****************/

/***^PRELOADER***/
/* Preloader, before page is loaded */
.preloader {
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  background: #fff;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.preloader div {
  width: 50%;
  height: 50%;
}

.preloader img {
  width: 100%;
  height: auto;
}

.disappear {
  animation: vanish 1s forwards;
}

@keyframes vanish {
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

/***^PLACEHOLDER***/

.content-container {
  margin: 20px 0 0 0;
}

.placeholder {
  display: flex;
  justify-content: space-evenly;
  margin-top: 1rem;
}

.placeholder a {
  margin-top: -2.2rem;
  margin-left: -9rem;
  height: 2rem;
}

.icon {
  width: 40px;
  height: 40px;
}

.map {
  margin-top: 30px !important;
}


/* Search */
.search {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}


.img-container img {
  border-radius: 50%;
  width: 50px;
  height: auto;
}

.search-container input {
  width: 250px;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  border-radius: 25px;
}

.update-location,
.update-location a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.update-location img {
  height: 40px;
  width: 40px;
}

/***^MYMAPS***/
#map {
  width: 100vw;
  height: 100vh;
  border: 2px solid #ccc;
  margin-top: 100px;
  /* To prevent overlap with the search box */
}

/***Error Messages***/

.flash {
  color: #cf727f;
}

/*** rating update page ****/

.ratingUpdateBody {
  width: 100%;
  height: 100vh;
}

.ratingUpdateContainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.thumbsUp {
  width: 80px;
  height: 80px;
  margin: 30px;
}

.ratingUpdateSuccessful {
  text-align: center;
  font-family: var(--noto-serif);
  color: var(--primary);
}
.homeButton{
	width: 100%;
  padding: 10px 60px;
	height: 40px;
	margin: 10px auto;
	display: block;
	color: #fff;
	background: var(--primary);
	font-size: 1em;
	font-weight: 500;
	margin-top: 30px;
	outline: none;
	border: none;
	border-radius: 5px;
	transition: .2s ease-in;
	cursor: pointer;
}
  .homeButton:hover {
    background: var(--soft-red);
  }
  /*location list page*/

#location-list-logo {
  transform: scale(0.1);
  position: relative;
  top: -28rem;
  left: -27rem;
}

#location-list-iframe {
  display: flex;
  justify-content: center;
  position: relative;
  top: -56rem;
}

#location-list-form {
  position: relative;
  top: -55rem;
}

#location-list-a {
  position: relative;
  top: -55rem;
}

/***************************************************************************
LocationList html
**************************************************************************/

.access_map_logo {
  height: 200px;
  width: 200px;
}
