<!DOCTYPE html>
<html lang="en">
	<head>
    <meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<!-- external CSS link -->
		<link rel="stylesheet" href="/static/css/reset.css">
		<link rel="stylesheet" href="/static/css/style.css">
		<link rel="stylesheet" href="/static/css/signup.css">

		<!-- Fonts: Noto Serif & Poppins -->
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link
				href="https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
				rel="stylesheet">

	</head>
	<body class="accessibilityNeeds">
		<div> 
				<div class="imgContainer">
					<img src="/static/images/logo variations/just logo.png" class="logoImg">
				</div>
				<div class="needsContainer">
					<form action="/choose_accessibility_filters" method="POST">
						<h1>Which accessibility needs apply to you?</h1>
						<!-- todo: icons and selections for each accessibility need -->
						<section class="selection">

							<!-- * Visually impaired  --> 
							<div role="checkbox" class="item">
								<!-- <div class="bgColour bgColourGreen"></div> ? GREEN -->
								<img class="icon" src="/static/images/accessibility-icons/blindness.png" alt="Visibility icon">
								<span class="disability">Visually Impaired</span>
							</div>

							<!--* Cognitive disability -->
							<div role="checkbox" class="item">
								<!-- <div class="bgColour bgColourGrey"></div> ? GREY -->
								<img class="icon" src="/static/images/accessibility-icons/cognitive.png" alt="name of icon">
								<span class="disability">Cognitive Disability</span>
							</div>

							<!--* Limited Mobility -->
							<div role="checkbox" class="item">
								<!-- <div class="bgColour bgColourRed"></div> ? RED -->
								<img class="icon" src="/static/images/accessibility-icons/complete-accessibility-icon-set-svg/Wheelchair Accessible.svg" alt="name of icon">
								<span class="disability">Limited Mobility</span>
							</div>

							<!--* Service dog -->
							<div role="checkbox" class="item">
								<!-- <div class="bgColour bgColourAll"></div> ? ALL -->
								<img class="icon" src="/static/images/accessibility-icons/dog.png" alt="name of icon">
								<span class="disability">Service Dog</span>
							</div>
							
							<!--* Neuro Diversity (asd etc) -->
							<div role="checkbox" class="item">
								<!-- <div class="bgColour bgColourYellow"></div> ? YELLOW -->
								<img class="icon" src="/static/images/accessibility-icons/sensory.png" alt="name of icon">
								<span class="disability">Neuro Diversity</span>
							</div>

							<!--* Hearing impaired -->
							<div role="checkbox" class="item">
								<!-- <div class="bgColour bgColourGreen"></div> ? GREEN -->
								<img class="icon" src="/static/images/accessibility-icons/complete-accessibility-icon-set-svg/Hearing Loss-Impairment Accessible.svg" alt="Hearing icon">
								<span class="disability">Hearing Impaired</span>
							</div>

							<!--* Common Allergens -->
							<div role="checkbox" class="item">
								<!-- <div class="bgColour bgColourRed"></div> ? RED -->
								<img class="icon" src="/static/images/accessibility-icons/allergen.png" alt="name of icon">
								<span class="disability">Common Allergens</span>
							</div>

							<!--* Mental health / psychological support -->
							<div role="checkbox" class="item">
								<!-- <div class="bgColour bgColourBlue"></div> ? BLUE -->
								<img class="icon" src="/static/images/accessibility-icons/heartThin.png" alt="name of icon">
								<span class="disability">Psychological Support</span>
							</div>

							<!--* Speech impaired -->
							<div role="checkbox" class="item">
								<!-- <div class="bgColour bgColourGreen"></div> ? GREEN -->
								<img class="icon" src="/static/images/accessibility-icons/speech.png" alt="name of icon">
								<span class="disability">Speech Impaired</span>
							</div>

						</section>
						<button type="submit">Submit</button>
					</form>
				</div>
		</div>

		<!-- exteral JS link -->
		<script type="text/javascript" src="js/main.js"></script>
	</body>
</html>
