<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Access Map</title>

        <!-- Fonts: Noto Serif & Poppins -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link
            href="https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
            rel="stylesheet">

        <!-- Stylesheets -->
        <link rel="stylesheet" href="static/css/style.css">
        <link rel="stylesheet" href="static/css/normalize.css">
    </head>

    <body>

        <!-- Preloader -->
        <div class="preloader">
            <span class="preloader-js"></span>
        </div>
        <canvas id='canvas'></canvas>
        <img src="" alt="safe"></img>

        <header>
            <!-- Header Nav -->
            <nav>
                <ul>
                    <li>
                        <!-- AccessMap Logo credit to Miranda -->
                        <img src="/static/images/AccessMapLogo.png" id="logo" alt="Mapping Access for All">
                    </li>
                    <li id="siteName">AccessMap</li>
                </ul>
            </nav>

        </header>


        <!-- Placeholders -->
        <div class="content-containers">
            <div class="placeholder">
                <p>placeholder for icon legend</p>
                <a href="/find_location">Find a Location</a>
            </div>

            <!-- Custom Google My Map -->
            <iframe src="https://www.google.com/maps/d/u/0/embed?mid=1bSSaIE2VyhBqxWrmYMw_hlL2ckxnzkA&ehbc=2E312F"
                width="640" height="480"></iframe>
        </div>

    </body>

</html>