<!DOCTYPE html>
<html lang="en">
	<head>
    <meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<!-- external CSS link -->
		<link rel="stylesheet" href="/static/css/reset.css">
		<link rel="stylesheet" href="/static/css/style.css">
		<link rel="stylesheet" href="/static/css/signup.css">

		<!-- Fonts: Noto Serif & Poppins -->
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link
				href="https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
				rel="stylesheet">

	</head>
	<body class="body">
		<div class="accessibilityNeeds"> 
				<div class="imgContainer">
					<img src="/static/images/logo variations/just logo.png" class="img">
				</div>
				<div class="needsContainer">
					<form action="/choose_accessibility_filters" method="POST">
						<h1>Which accessibility needs apply to you?</h1>
						<!-- todo: icons and selections for each accessibility need -->
							<!--* Visually impaired -->
							<!--* Hearing impaired -->
							<!--* Limited Mobility -->
							<!--* Cognitive disability -->
							<!--* Speech impaired -->
							<!--* Common Allergens -->
							<!--* Sensory Sensitivities (asd) -->
							<!--* Service dog -->
							<!--* Mental health / psychological support -->
						<button type="submit">Sign up</button>
					</form>
				</div>
		</div>

		<!-- exteral JS link -->
		<script type="text/javascript" src="js/main.js"></script>
	</body>
</html>
