
<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Header here -->
    </head>
    <body>
        <!-- AccessMap Logo credit to Miranda -->
        <img src="static/images/AccessMapLogo.png"
        alt="AccessMap: Mapping Access for All"
        class="access_map_logo">

        <iframe src="https://www.google.com/maps/d/u/0/embed?mid=1bSSaIE2VyhBqxWrmYMw_hlL2ckxnzkA&ehbc=2E312F" width="640" height="480"></iframe>
         
        <form action="/update_rating" method="POST">
            <!-- TODO: Call the average rating for each category -->
            <label for="sensoryrating">Sensory Rating:</label><br>
            <input type="text" id="sensory" name="sensoryrating"><br>

            <label for="mobilityrating">Mobility Rating:</label><br>
            <input type="text" id="mobility" name="mobilityrating"><br>

            <label for="sdogreliefrating">Service Dog Relief Rating:</label><br>
            <input type="text" id="sd_relief" name="sdogreliefrating"><br>

            <label for="wheelchairrating">Wheelchair Accessibility Rating:</label><br>
            <input type="text" id="wheelchair" name="wheelchairrating"><br>

            <label for="commonallergens">Common Allergens Rating:</label><br>
            <input type="text" id="allergens" name="commonallergens"><br>

            <button type="submit">Submit</button>
        </form>    
    </body>
</html>